<h2>Lista de Produtos</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{ produto.id }}</td>
      <td>{{ produto.name }}</td>
      <td>{{ produto.description }}</td>
      <td>{{ produto.prece | currency }}</td>
      <td>
        <button (click)="atualizarProduto(produto)">Atualizar</button>
        <button (click)="excluirProduto(produto.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>

<hr>

<h2>Criar Novo Produto</h2>

<form (ngSubmit)="criarProduto(formProduto.value)" #formProduto="ngForm">
  <div>
    <label for="nome">Nome:</label>
    <input type="text" name="nome" ngModel required>
  </div>
  <div>
    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao" ngModel required>
  </div>
  <div>
    <label for="preco">Preço:</label>
    <input type="number" name="preco" ngModel required>
  </div>
  <button type="submit">Salvar</button>
</form>
